<div class="col-md-6">
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="i in data" ng-class="{'info': i.id == selectedId}" ng-click="select(i)">
                <td>{{i.id}}</td>
                <td>{{i.Name}}</td>
                <td>{{i.Email}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div  class="col-md-6" ui-view></div>
