<div class="col-md-12">
    <ul class="breadcrumb">
        <li class="active">{{Stack.Options.collectionName}}</li>
        <li>
            <a ng-click="new()" class="btn-sm btn-raised">New Entry</a>
            <a ng-click="wipe()" class="btn-sm btn-raised">Wipe collection</a>
            <a ng-click="make(1)" class="btn-sm btn-raised">Make 1</a>
            <a ng-click="make(10)" class="btn-sm btn-raised">Make 10</a>
            <a ng-click="make(50)" class="btn-sm btn-raised">Make 50</a>
        </li>
    </ul>
</div>

<div class="col-md-6">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                <ng-pluralize count="data.length" when="{'0': 'No entries', 'one': '1 One entry', 'other': '{} entries'}"></ng-pluralize>
            </h3>
        </div>
        <div class="panel-body" ng-if="data.length">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in data" ng-class="{'info': i.id == selectedId}" ng-click="select(i)">
                        <td>{{i.id}}</td>
                        <td>{{i.Name}}</td>
                        <td>{{i.Email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-body" ng-if="!data.length">

            The User table is empty. Want to create some sample entries?

            <div class="btn-toolbar">
                <div class="btn-group">
                    <a ng-click="make(1)" class="btn btn-raised">1</a>
                    <a ng-click="make(5)" class="btn btn-raised">5</a>
                    <a ng-click="make(10)" class="btn btn-raised">10</a>
                    <a ng-click="make(50)" class="btn btn-raised">50</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-md-6" ui-view></div>
