<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.42" targetFramework="net45" />
  <package id="Google.Apis" version="1.19.0" targetFramework="net45" />
  <package id="Google.Apis.Core" version="1.19.0" targetFramework="net45" />
  <package id="log4net" version="2.0.15" targetFramework="net45" />
  <package id="Microsoft.AspNet.Cors" version="5.2.9" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.9" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.9" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.9" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net45" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net45" />
</packages>